	<!-- footer begin -->
    <footer class="container" id="footer" role="contentinfo">
        <div class="row">
			<nav class="twelve columns">
				<ul class="to-top">
					<li><a class="tooltip no-layer button small" href="#header" title="Scroll to page top"><i class="general foundicon-up-arrow"></i>To top</a></li>
				</ul>
			</nav>
		</div>
    </footer>
    <!-- footer end -->