	<!-- header begin -->
    <header class="container" id="header" role="banner">

        <div class="row">
			<hgroup class="twelve columns">
				<h1>Client side caching</h1>
				<h2>Testpage for client side caching via javascript</h2>
			</hgroup>
		</div>

    </header>
    <!-- header end -->