	<!-- loading layer begin -->
    <div class="layer" id="layer-loading" role="presentation">
		<div class="layer-content">
			<h4 class="layer-headline">Loading</h4>
			<h5 class="layer-subline">Client Side Cache Test Page</h5>
			<div class="layer-progress-bar">
				<progress class="layer-progress-value" id="layer-progress-value" max="100" value="0"></progress>
			</div>
		</div>
        <div class="layer-background"></div>
    </div>
    <!-- loading layer end -->

	<!-- no js layer begin -->
    <div class="layer" id="layer-no-js" role="presentation">
		<div class="layer-content">
			<h4 class="layer-headline">JavaScript is disabled!</h4>
			<h5 class="layer-subline">No JavaScript - No Fun! Please enable it!</h5>
		</div>
        <div class="layer-background"></div>
    </div>
    <!-- no js layer end -->