/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */
    .lt-ie8 .column, .columns { margin-left: 1.5%; }

    /* -----------------------------------------
	   :: Navigation Main
	----------------------------------------- */
	nav.main, nav.mobile {
        ul.navigation {

            li {
                
                a {
                    
					.text {
                        display: block !important;
					}
                }
            }
        }
    }


/* -------------------------------------------------- 
	:: Plugin Slider
---------------------------------------------------*/
    .slider {

        .slides {

            .slide {

                .js & {
                    cursor: default;
                }
            }
        }
    }

@import "_icons/general_foundicons_ie7";
@import "_icons/general_enclosed_foundicons_ie7";
@import "_icons/social_foundicons_ie7";
@import "_icons/_settings_multiple";

.lt-ie8 i.general, .lt-ie8 span.general {
  font-family: "GeneralFoundicons" !important;
}
.lt-ie8 i.general-enclosed, .lt-ie8 span.general-enclosed {
  font-family: "GeneralEnclosedFoundicons" !important;
}
.lt-ie8 i.social, .lt-ie8 span.social {
  font-family: "SocialFoundicons" !important;
}