
/* -------------------------------------------------- 
   :: Animation Components
---------------------------------------------------*/
   
   .animate-all {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
   }

   .animate-no-duration {
      -webkit-transition-duration: 0 !important;
      -moz-transition-duration: 0 !important;
      -o-transition-duration: 0 !important;
      -ms-transition-duration: 0 !important;
      transition-duration: 0 !important;
   }