/**
 * Ulrich Merkel
 * Base CSS Styles bases on SCSS
 * 
 **/
/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
/* line 25, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* line 32, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
html {
  font-size: 62.5%;
  background: #f4f4f4; }

/* line 36, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
body {
  position: relative;
  line-height: 1; }

/* HTML5 display-role reset for older browsers */
/* line 43, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 46, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
ol, ul {
  list-style: none; }

/* line 49, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
blockquote, q {
  quotes: none; }

/* line 53, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 57, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 61, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
input:not([type=checkbox]) {
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 68, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none; }

/* line 71, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
/* line 81, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
body, select, textarea, input {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #5a5a5a;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

/* line 89, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.25;
  vertical-align: baseline; }
  /* line 94, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit; }
  /* line 97, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    top: 2px; }

/* line 101, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem;
  margin-bottom: 0px; }

/* line 102, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
h2 {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 10px;
  margin: 18px 0 22px;
  border-bottom: 1px solid #b4b4b4; }

/* line 103, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
h3 {
  font-size: 22px;
  font-size: 2.2rem;
  margin-bottom: 22px; }

/* line 104, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
h4 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 22px; }

/* line 106, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
p {
  margin-bottom: 22px;
  vertical-align: top;
  line-height: 1.6; }

/* line 107, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
p img {
  margin: 0; }

/* line 110, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.lead {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  color: #929292; }

/* line 112, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
address {
  font-size: 16px;
  vertical-align: top;
  line-height: 1.6;
  padding-bottom: 22px !important; }

/* line 119, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
em, i {
  font-style: italic;
  line-height: inherit; }

/* line 120, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
strong, b {
  font-weight: bold;
  line-height: inherit; }

/* line 121, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
small {
  font-size: 80%; }

/* line 123, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
abbr, acronym, .glossar {
  /*text-transform: uppercase; font-size: 90%; */
  color: #222;
  border-bottom: 1px solid #ddd;
  cursor: help; }

/* line 124, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
abbr {
  text-transform: none; }

/* line 126, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.align-left {
  text-align: left; }

/* line 129, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.align-center {
  text-align: center; }

/* line 132, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.align-right {
  text-align: right; }

/* line 136, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.multi-column {
  -moz-column-count: 2;
  -moz-column-gap: 1.8em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1.4em; }
  /* line 142, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  .multi-column img {
    float: left;
    caption-side: right;
    margin-bottom: 4px; }

/* responsiv design */
@media only screen and (max-width: 900px) {
  /* line 151, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  body, select, textarea, input {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.6; } }
@media handheld, only screen and (max-width: 847px) {
  /* line 156, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  .multi-column {
    -moz-column-count: 1;
    -moz-column-gap: 1.8em;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.4em; } }
@media handheld, only screen and (max-width: 1024px) {
  /* line 164, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h2 {
    font-size: 28px;
    font-size: 2.8rem; }

  /* line 165, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h3 {
    font-size: 21px;
    font-size: 2.1rem; }

  /* line 166, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h4, .lead {
    font-size: 17px;
    font-size: 1.7rem; } }
@media handheld, only screen and (max-width: 300px) {
  /* line 169, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h2 {
    font-size: 26px;
    font-size: 2.6rem; }

  /* line 170, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h3 {
    font-size: 20px;
    font-size: 2rem; }

  /* line 171, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  h4, .lead {
    font-size: 16px;
    font-size: 1.6rem; } }
/* -------------------------------------------------- 
	:: Loading Layer
---------------------------------------------------*/
/* line 177, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer, .layer-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  display: block;
  /*-o-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;*/ }

/* line 193, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer {
  z-index: 9000; }

/* line 196, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
#layer-form, #layer-no-js, #layer-ajax {
  display: none; }

/* line 199, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer-text {
  position: fixed;
  top: 35%;
  width: 100%;
  margin: 0 auto;
  z-index: 3002;
  text-align: center; }

/* line 207, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer-headline, .layer-subline {
  display: block;
  color: #5a5a5a; }

/* line 211, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer-headline {
  height: 30px;
  font-size: 18px;
  font-weight: 400; }

/* line 216, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer-subline {
  height: 35px;
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 25px; }

/* line 222, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
#layer-no-js .layer-subline, #layer-ie .layer-subline, #layer-update .layer-subline {
  background: none; }

/* line 225, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer-background {
  z-index: 3001;
  background: #f4f4f4; }

/* line 231, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.lt-ie9 #layer-no-js .layer-background, .lt-ie9 #layer-no-js .layer,
.lt-ie9 #layer-ie .layer-background, .lt-ie9 #layer-ie .layer,
.lt-ie9 #layer-update .layer-background, .lt-ie9 #layer-update .layer {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/* line 236, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
.layer-loading-progress {
  position: fixed;
  top: 44%;
  width: 100%;
  margin: 0 auto;
  z-index: 3002;
  text-align: center;
  width: 100%;
  height: 40px;
  background: url("../img/bg/ajax-loader.gif") center bottom no-repeat transparent; }
  /* line 246, /Library/WebServer/Documents/www.bachelor.dev/source-nocache/source/css/base.css.scss */
  .layer-loading-progress .bar {
    display: block;
    height: 20px;
    background: #000;
    width: 0;
    top: 80px;
    position: relative;
    -o-transition: width .3s linear;
    -ms-transition: width .3s linear;
    -moz-transition: width .3s linear;
    -webkit-transition: width .3s linear;
    transition: width .3s linear; }
