
/* --------------------------------------------------
	:: Grid
	-------------------------------------------------- */
	.container { padding: 0 60px; margin: 0; }

	.column, .columns { margin-left: 2%; float: left; min-height: 1px; position: relative; }
	.column:first-child, .columns:first-child { margin-left: 0; }

	.row {
        width: 100%;
        max-width: 1280px;
        min-width: 727px;
        margin: 0 auto;
		vertical-align: top;
        
        .row {
            min-width: 0;
        }
        
        .one 		{ width: 6.5%; }
        .two 		{ width: 15%; }
        .three 	    { width: 23.5%; }
        .four 		{ width: 32%; }
        .five 		{ width: 40.5%; }
        .six 		{ width: 49%; }
        .seven 	    { width: 57.5%; }
        .eight 	    { width: 66%; }
        .nine 		{ width: 74.5%; }
        .ten 		{ width: 83%; }
        .eleven 	{ width: 91.5%; }
        .twelve 	{ width: 100%; }
        
        &.center {
            text-align: center;
        }
    }

	img, object, embed {
        max-width: 100%;
        height: auto;
    }
	img {
        -ms-interpolation-mode: bicubic;
    }

	/* Nicolas Gallagher's micro clearfix */
	.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	.row:after, .clearfix:after { clear: both; }
	.row, .clearfix { zoom: 1; }

	/* responsive design */
	@media only screen and (max-width: $breakPointNotebook) {
		.container { padding: 0 40px; margin: 0; }
	}
	@media only screen and (max-width: $breakPointLandscape) {
		.container { padding: 0 20px; margin: 0; }
		.column, .columns { margin-left: 1.46%; }
		.row {
            .one 		{ width: 6.9%; }
            .two 		{ width: 15.26%; }
            .three  	{ width: 23.9%; }
            .four 		{ width: 32.36%; }
            .five 		{ width: 40.8%; }
            .six 		{ width: 49.27%; }
            .seven 	    { width: 57.72%; }
            .eight 	    { width: 66.18%; }
            .nine 		{ width: 74.63%; }
            .ten 		{ width: 83.09%; }
            .eleven 	{ width: 91.54%; }
            .twelve 	{ width: 100%; }
        }
	}
	@media only screen and (max-width: $breakPointPortrait) {		
		body { width: 100%; min-width: 0; }
		.container { min-width: 0; padding: 0 20px; }
		.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; float: none; }
		[class*="column"] + [class*="column"]:last-child { float: none; }
		[class*="column"]:before, [class*="column"]:after { content:""; display:table; }
		[class*="column"]:after { clear: both; }

		/* Mobile 4-column Grid */
		.row .phone-one, .row .phone-two, .row .phone-three, .row .phone-four { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
		.row .phone-one:first-child, .row .phone-two:first-child, .row .phone-three:first-child, .row .phone-four:first-child { margin-left: 0; }
		.row .phone-one:last-child, .row .phone-two:last-child, .row .phone-three:last-child, .row .phone-four:last-child { float: left; }

		.row .phone-one 	{ width: 21.68% !important; }
		.row .phone-two 	{ width: 47.8% !important; }
		.row .phone-three 	{ width: 73.9% !important; }
		.row .phone-four 	{ width: 100% !important; }
	}
	@media only screen and (max-width: $breakPointMobile) {		
		.row.mobile-grid {
			.phone-one, .phone-two, .phone-three, .phone-four { width: 100% !important; display: block; float: none; clear: both; margin-left: 0;}
		}
	}