
/* -------------------------------------------------- 
	:: Selection
---------------------------------------------------*/
	::-moz-selection { background: #ddd; color: #fff; text-shadow: none; }
	::selection { background: #ddd; color: #fff; text-shadow: none; }
	
	.no-select, .no-layer {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
