$fontColor: #5a5a5a;

@mixin fontFamily {
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
@mixin fontSizeLead {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
}
@mixin fontSizeLarge {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
}
@mixin fontSize {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6;
}
@mixin fontSizeSmall {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.6;
}

$linkColor: #7c9e21;
$linkColorHover: #188cae;
$linkColorActive: #f00;

$backgroundColor: #f4f4f4;
$border: 1px solid #b4b4b4;
$borderInner: 1px dotted #b4b4b4;
$borderColor: #b4b4b4;


$gutterWidth: 22px;

$breakPointNotebook: 1200px;
$breakPointNotebookSmall: 1100px;
$breakPointLandscape: 1024px;
$breakPointLandscapeSmall: 900px;
$breakPointPortrait: 767px;
$breakPointMobile: 300px;