[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}
[class*="general-enclosed foundicon-"]:before {
  font-family: "GeneralEnclosedFoundicons";
}
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}