<!doctype html>
<!--[if IE 7 ]><html class="ie7 no-js lt-ie9 lt-ie8" lang="de" ><![endif]-->
<!--[if IE 8 ]><html class="ie8 no-js lt-ie9" lang="de" ><![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="de" ><![endif]-->
<!--[if IEMobile 7 ]><html class="iem7 no-js" lang="de" manifest="cache.manifest"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="de"><!--<![endif]-->
    <head>
        <%= partial "partials/meta" %>
    </head>
  
    <body id="body">

        <a id="top"></a>

		<section id="wrapper">

			<!-- content begin -->
			<section class="container" id="pages">
				<section class="page" id="page">
					<div id="content">
						<!-- content begin -->
						<%= yield %>
						<!-- content end -->
					</div>
				</section>
			</section>
			<!-- content end -->

		</section>

		<%= partial "partials/layers" %>

		<%= javascript_include_tag "cache" %>

    </body>
</html>