<!doctype html>
<!--[if lt IE 7]>   <html class="ie7 no-js lt-ie9 lt-ie8 lt-ie7" dir="ltr" lang="de">  <![endif]-->
<!--[if IE 7]>      <html class="ie7 no-js lt-ie9 lt-ie8" dir="ltr" lang="de">  <![endif]-->
<!--[if IE 8]>      <html class="ie8 no-js lt-ie9" dir="ltr" lang=de">          <![endif]-->
<!--[if IE 9]>      <html class="ie9 no-js" dir="ltr" lang="de">                <![endif]-->
<!--[if IEMobile 7]><html class="iem7 no-js" dir="ltr" lang="de">               <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" dir="ltr" lang="de"><!--<![endif]-->
	<head>
        {{> meta}}
		<!-- include css -->
		<link rel="stylesheet" href="css/app.css" type="text/css" media="all">
	</head>
	<body>

		{{> header}}
		
        {{> main-standard}}
		{{> footer}}
		{{> layer}}
		
		{{> body}}
	</body>
</html>