        <!-- loading layer begin -->
		<div id="layer-loading" class="layer">
			<h4 class="layer-text">
				<span class="layer-headline"><%= I18n.t("layer-loading.headline") %></span>
				<span class="layer-subline" id="layer-loading-subline"><%= I18n.t("layer-loading.subline") %></span>
			</h4>
			<div class="layer-loading-progress">
				<span class="bar" id="layer-loading-bar">
			</div>
			<div class="layer-background"></div>
		</div>
		<!-- loading layer end -->
	
        <!-- no-js layer begin -->
		<div id="layer-no-js" class="layer">
			<h4 class="layer-text">
				<span class="layer-headline"><%= I18n.t("layer-no-js.headline") %></span>
				<span class="layer-subline"><%= I18n.t("layer-no-js.subline") %></span>
			</h4>
			<div class="layer-background"></div>
		</div>
		<!-- no-js layer end -->