<section class="row">
    <nav class="twelve columns">
        <ul class="to-top">
            <li><a class="tooltip no-layer btn btn-top small" href="#top" title="<%= I18n.t("to-top-title") %>"><i class="general foundicon-up-arrow"></i><%= I18n.t("to-top") %></a></li>
        </ul>
    </nav>
</section>