
/* -------------------------------------------------- 
	:: Hr Base Styles
---------------------------------------------------*/

    hr {
		width: 100%;
		height: 0;
		border: none;
		outline: none;
		border-bottom: 1px solid #e4e4e4;
	}