
/* --------------------------------------------------
	:: Button Components
---------------------------------------------------*/


    .button {
        @include inline-block;
        padding: 6px 12px;
        margin-bottom: 12px;
        *margin-left: .3em;

        @include font-size(14);
        line-height: 1.4;
        *line-height: 20px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;

        background-color: #f5f5f5;
        *background-color: #e6e6e6;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #bbbbbb;
        *border: 0;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #a2a2a2;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
           -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
	.button.large {
		@include font-size(16);
        line-height: 20px;
	}
	.button.small {
		@include font-size(12);
        line-height: 14px;
	}
	.button.full-width {
		width: 100%;
	}
    .desktop .button:hover {
        color: #333;
        text-decoration: none;
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
        /* Buttons in IE7 don't get borders, so darken on hover */
      
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
           -moz-transition: background-position 0.1s linear;
             -o-transition: background-position 0.1s linear;
                transition: background-position 0.1s linear;
    }

    .button:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .button.active,
    .button:active {
        background-color: #e6e6e6;
        background-color: #d9d9d9 \9;
        background-image: none;
        color: #000;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
           -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
                box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
