@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/icomoon/icomoon.eot');
	src:url('../assets/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../assets/fonts/icomoon/icomoon.woff') format('woff'),
		url('../assets/fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	&.icomoon {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		padding-right: 10px;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}
.icomoon {

&.icon-home:before {
	content: "\e600";
}
&.icon-support:before {
	content: "\e601";
}
&.icon-clock:before {
	content: "\e602";
}
&.icon-user:before {
	content: "\e603";
}
&.icon-contract:before {
	content: "\e604";
}
&.icon-expand:before {
	content: "\e605";
}
&.icon-cog:before {
	content: "\e606";
}
&.icon-star:before {
	content: "\e607";
}
&.icon-smiley:before {
	content: "\e608";
}
&.icon-tongue:before {
	content: "\e609";
}
&.icon-close:before {
	content: "\e60a";
}
&.icon-checkmark:before {
	content: "\e60b";
}
&.icon-play:before {
	content: "\e60c";
}
&.icon-pause:before {
	content: "\e60d";
}
&.icon-volume-high:before {
	content: "\e60e";
}
&.icon-volume-medium:before {
	content: "\e60f";
}
&.icon-volume-low:before {
	content: "\e610";
}
&.icon-volume-mute:before {
	content: "\e611";
}
&.icon-pacman:before {
	content: "\e612";
}
&.icon-stack:before {
	content: "\e613";
}
&.icon-paint-format:before {
	content: "\e614";
}
&.icon-minus:before {
	content: "\e615";
}
&.icon-plus:before {
	content: "\e616";
}
&.icon-checkbox-checked:before {
	content: "\e617";
}
&.icon-checkbox-unchecked:before {
	content: "\e618";
}
&.icon-google-plus:before {
	content: "\e619";
}
&.icon-facebook:before {
	content: "\e61a";
}
&.icon-twitter:before {
	content: "\e61b";
}
&.icon-vimeo2:before {
	content: "\e61c";
}
&.icon-lanyrd:before {
	content: "\e61d";
}
&.icon-picassa:before {
	content: "\e61e";
}
&.icon-flickr:before {
	content: "\e61f";
}
&.icon-dribbble:before {
	content: "\e620";
}
&.icon-forrst:before {
	content: "\e621";
}
&.icon-deviantart:before {
	content: "\e622";
}
&.icon-tumblr:before {
	content: "\e623";
}
&.icon-github:before {
	content: "\e624";
}
&.icon-pinterest:before {
	content: "\e625";
}
&.icon-xing:before {
	content: "\e626";
}
&.icon-linkedin:before {
	content: "\e627";
}
&.icon-reddit:before {
	content: "\e628";
}
&.icon-delicious:before {
	content: "\e629";
}
&.icon-html5:before {
	content: "\e62a";
}
&.icon-chrome:before {
	content: "\e62b";
}
&.icon-firefox:before {
	content: "\e62c";
}
&.icon-IE:before {
	content: "\e62d";
}
&.icon-opera:before {
	content: "\e62e";
}
&.icon-safari:before {
	content: "\e62f";
}
&.icon-IcoMoon:before {
	content: "\e630";
}
&.icon-lastfm:before {
	content: "\e631";
}
&.icon-stumbleupon:before {
	content: "\e632";
}
&.icon-stackoverflow:before {
	content: "\e633";
}
&.icon-flattr:before {
	content: "\e634";
}
&.icon-soundcloud:before {
	content: "\e635";
}
&.icon-windows8:before {
	content: "\e636";
}
&.icon-android:before {
	content: "\e637";
}
&.icon-apple:before {
	content: "\e638";
}
&.icon-github2:before {
	content: "\e639";
}
&.icon-blogger:before {
	content: "\e63a";
}
&.icon-flickr2:before {
	content: "\e63b";
}
&.icon-feed:before {
	content: "\e63c";
}
&.icon-mail:before {
	content: "\e63d";
}
&.icon-smiley:before {
	content: "\e63e";
}
&.icon-tongue:before {
	content: "\e63f";
}
&.icon-sad:before {
	content: "\e640";
}
&.icon-sad2:before {
	content: "\e641";
}
&.icon-pencil:before {
	content: "\e642";
}

}

